<!DOCTYPE html>
<html lang="en">
<head>
    <title>ProjectInfo</title>
    <script th:src="@{http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js}" type="text/javascript"/>
</head>
<body>
<div>
    <div>SysNo: <span th:text=" ${p.SysNo}"></span></div>
    <div>ParentProjectSysNo: <span th:text="${p.ParentProjectSysNo}"></span></div>
    <div>ContractorCode :<span th:text="${p.ContractorCode}"></span></div>
    <div>SecretKey :<span th:text="${p.SecretKey}"></span></div>
    <div>Version :<span th:text="${p.Version}"></span></div>
    <div>ProjectName :<span th:text="${p.ProjectName}"></span></div>
    <div>ShortName :<span th:text="${p.ShortName}"></span></div>
    <div>Pinyin :<span th:text="${p.Pinyin}"></span></div>
    <div>OwnerName :<span th:text="${p.OwnerName}"></span></div>
    <div>Status :<span th:text="${p.Status}"></span></div>
    <div>ProjectStatus :<span th:text="${p.ProjectStatus}"></span></div>
    <div>InUserSysNo :<span th:text="${p.InUserSysNo}"></span></div>
    <div>InUserName :<span th:text="${p.InUserName}"></span></div>
    <div>InDate :<span th:text="${#dates.format(p.InDate, 'yyyy-MM-dd HH:mm:ss')}"></span></div>
    <div>EditUserName :<span th:text="${p.EditUserName}"></span></div>
    <div>EditDate :<span th:text="${#dates.format(p.EditDate, 'yyyy-MM-dd HH:mm:ss')}"></span></div>
    <table>
        <tr>
            <td>
                <img style="height: 100px;width: 100px;"
                     th:src="@{/static/images/342595-20161217194538620-1766492096.gif}"/>
            </td>
            <td>
                <img style="height: 100px;width: 100px;" src="/static/images/342595-20161217194538620-1766492096.gif"/>
            </td>
        </tr>
    </table>
    <div style="font-family: 'Microsoft YaHei UI'">
        List
        <table border="1" cellpadding="0" cellspacing="0">
            <tr>
                <td>项目名称</td>
                <td>项目编码</td>
                <td>状态</td>
                <td>时间</td>
            </tr>
            <tr th:each="p:${list}">
                <td th:text="${p.ProjectName}"></td>
                <td th:text="${p.ProjectCode}"></td>
                <td th:text="${p.Status}"></td>
                <td th:text="${#dates.format(p.InDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </table>
    </div>
    <div>
        <span>name:</span>
        <input type="text" name="name" th:value="${p.ProjectName}"/>
    </div>
    <div>
        <span>age:</span>
        <input type="text" name="age" th:value="${p.ProjectStatus}"/>
    </div>
    <input id="submit" type="button" value="submit"/>
</div>
</body>
</html>
<script th:inline="javascript">
    var name = [[${ p.ProjectName}]];
    $(function () {
        $('#submit').click(function () {
            $.ajax({
                url: '/home/echo',
                type: 'get',
                data: {
                    msg: 'msg test from ajax ',
                    name: $('input[name=name]').val(),
                    age: $('input[name=age]').val(),
                    status: [[${ p.ProjectStatus}]],
                },
                success: function (res) {
                    debugger
                    console.log(res);
                    alert(res);
                }
            })
        })
    })
</script>